<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
        <link rel="stylesheet" href="/static/css/poi.css" type="text/css">
  </head>

  <body>
<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form action="/authenticate/" method="POST">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" name="name">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        {%csrf_token%}         
        <input type="submit" class="float" value="Login">
       </form>
 		</div>
 </div>
        {% if errors %}
        <p>wrong password/username,try again.</p>
        {%endif%}
        
    </body>
</html>