<html>
    
    <head>
        <title>
            Welcome
        </title>
    </head>
    
    <body>
        <h1> Welcome to Our College</h1>
        
       <pre> <p style="font-size:30px"> New to the Site? Sign Up here </p><button type="button" onclick="location.href='/signup'">Sign Up</button>      </pre>
               <pre> <p style="font-size:30px"> Login Here </p><button type="button" onclick="location.href='/login'"> Login</button>            </pre>

        
    </body>
    
    
</html>